div.h-fieldset {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 30ch auto;
}

div.h-fieldset+div.h-fieldset {
    margin-top: 1em;
}

div.h-fieldset span {
    justify-self: end;
    margin-right: 1em;
}

div.fields {
    display: grid;
    row-gap: .5em;
    grid-auto-flow: row;
}

span.validator {
    color: red;
}